{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
            
        <p style="text-align: center; font-size:larger">RE-SEARCH is a FREE search engine which is in under development process. 
            <br>Our goal is to make RE-SEARCH more reliable, efficient and faster. 
            <br> Support us by donating</p> 
        
        <form style="text-align: center;">
            <input placeholder="Enter Amount" type=number min=1.0 step=0.1 
            name="amount" id="amount" style="text-align: center; max-width: 12em;">
        </form>

        <script src="https://www.paypal.com/sdk/js?client-id=AZ7gGwyv53B2J-zM6xDwdVvuILEm8nWoJ8ePHUQ-_scMfYyOEJHpvaCaFY0Sx7JZQ6RABmw2FuXApeau&currency=USD"></script>
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container" style="padding-top: 30px; padding-left: 300px;
            padding-right: 300px; padding-bottom: 300px;"></div>
        <script>
        paypal.Buttons({
            // Sets up the transaction when a payment button is clicked
            createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                amount: {
                    value: document.getElementById('amount').value.toString() // Can also reference a variable or function
                }
                }]
            });
            },
            // Finalize the transaction after payer approval
            onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                // When ready to go live, remove the alert and show a success message within this page. For example:
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
            }
        }).render('#paypal-button-container');
        </script>
        
{% endblock %}